.warning {
	color: white;
	background-color: crimson;
	padding: 1rem;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

kbd{
	border: 1px solid #666;
	padding: 0.2rem;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #666;
}
