<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Service Section Card UI Design</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
  <div class="card">
      <div class="lines"></div>
      <div class="imgBx">
          <img src="creativity.png" />
      </div>
      <div class="content">
          <div class="details">
            <h2>creativity<br><span>design</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            <a href="#">Read more</a>
          </div>
      </div>
  </div>

    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="coding.png" />
        </div>
        <div class="content">
            <div class="details">
                <h2>coding<br><span>skill</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="rocket.png" />
        </div>
        <div class="content">
            <div class="details">
                <h2>learn<br><span>faster</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
