/* Coolors Exported Palette - https://coolors.co/cae00d-5218fa-f51400-e5e4e2-969cb3-363f5f */

/* CSS HEX */
--bitter-lemon: #cae00dff;
--han-purple: #5218faff;
--red: #f51400ff;
--platinum: #e5e4e2ff;
--manatee: #969cb3ff;
--independence: #363f5fff;

/* CSS HSL */
--bitter-lemon: hsla(66, 89%, 46%, 1);
--han-purple: hsla(255, 96%, 54%, 1);
--red: hsla(5, 100%, 48%, 1);
--platinum: hsla(40, 5%, 89%, 1);
--manatee: hsla(228, 16%, 65%, 1);
--independence: hsla(227, 28%, 29%, 1);

/* SCSS HEX */
$bitter-lemon: #cae00dff;
$han-purple: #5218faff;
$red: #f51400ff;
$platinum: #e5e4e2ff;
$manatee: #969cb3ff;
$independence: #363f5fff;

/* SCSS HSL */
$bitter-lemon: hsla(66, 89%, 46%, 1);
$han-purple: hsla(255, 96%, 54%, 1);
$red: hsla(5, 100%, 48%, 1);
$platinum: hsla(40, 5%, 89%, 1);
$manatee: hsla(228, 16%, 65%, 1);
$independence: hsla(227, 28%, 29%, 1);

/* SCSS RGB */
$bitter-lemon: rgba(202, 224, 13, 1);
$han-purple: rgba(82, 24, 250, 1);
$red: rgba(245, 20, 0, 1);
$platinum: rgba(229, 228, 226, 1);
$manatee: rgba(150, 156, 179, 1);
$independence: rgba(54, 63, 95, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-right: linear-gradient(90deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-bottom: linear-gradient(180deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-left: linear-gradient(270deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-top-right: linear-gradient(45deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-bottom-right: linear-gradient(135deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-top-left: linear-gradient(225deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-bottom-left: linear-gradient(315deg, #cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);
$gradient-radial: radial-gradient(#cae00dff, #5218faff, #f51400ff, #e5e4e2ff, #969cb3ff, #363f5fff);