<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike Air Max</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="imgBx">
        <img src="running_shoes_PNG5816.png" />
      </div>
      <div class="details">
        <div class="content">
          <h2>Nike Air Max<br /><span>Running Collection</span></h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries.
          </p>
          <h3>R$859,90</h3>
          <button>Comprar</button>
        </div>
      </div>
    </div>
  </body>
</html>
